(
    rules: [

        (
            matches: ["marche"],
            queries: [
            (name: "auto-doc", query: "auto-doc.fr"),
            (name: "cdiscount", query: "cdiscount.com"),
            (name: "amazon", query: "amazon.fr"),
            (name: "aliexpress", query: "aliexpress.com")
            ]
        ),
       
       
       
       (
            matches: [ "dev-tools" ],
            queries: [
            (name: "NodeJS", query: "nodejs.org"),
            (name: "YarnJS", query: "yarnpkg.com"),
            (name: "Npm", query: "npmjs.com"),
            (name: "Expo-CLI", query: "expo.dev"),
            (name: "Vercel", query: "vercel.com"),
            (name: "Rockeseat", query: "app.rocketseat.com.br/dashboard")
            ]
        ),
        
        
        
        
        (
            matches: [ "france" ],
            queries: [
            (name: "adecco", query: "adecco.fr"),
            (name: "Pole-Emploi", query: "pole-emploi.fr"),
            (name: "administration etrangers", query: "administration-etrangers-en-france.interieur.gouv.fr/particuliers/#/"),
            ]
        ),
        
        
        
        
        (
            matches: [ "atalhos" ],
            queries: [
            (name: "clarice", query: "claric.ai"),
            (name: "qr-code-monkey", query: "qrcode-monkey.com/fr"),
            (name: "github", query: "github.com"),
            (name: "git", query: "git.com"),
            ]
        ),
        
        
        
        
        (
            matches: [ "social" ],
            queries: [
            (name: "facebook", query: "facebook.com"),
            (name: "instagram", query: "instagram.com"),
            (name: "linkedin", query: "fr.lionkedin.com"),
            (name: "whatsapp", query: "web.whatsapp.com"),
            (name: "twitter", query: "twitter.com"),
            (name: "telegram", query: "web.telegram.org")
            ]
        ),
       
       
       
       
       (
            matches: [ "universite" ],
            queries: [
            (name: "Le-Cnam", query: "lecnam.net"),
            (name: "Mes Services Etudiant", query: "www.messervices.etudiant.gouv.fr/envole/"),
            (name: "Parcoursup", query: "www.parcoursup.fr/")
            ]
        ),
        
        
        
       
        (
            matches: [ "recherce" ],
            queries: [
            (name: "npm", query: "npmjs.com/search?q="),
            (name: "github", query: "github.com/search?q="),
            (name: "yarn", query: "yarnpkg.com/package/"),
            (name: "amazon", query: "amazon.com/s?k=")
            ]
        ),
        
        
        
        
        (
            matches: [ "img" ],
            queries: [
            (name: "lordicon", query: "lordicon.com/"),
            (name: "icon8", query: "icones8.fr/"),
            (name: "unsplash", query: "unsplash.com/"),
            (name: "pexels", query: "www.pexels.com/fr-fr/"),
            (name: "icon", query: "icon-icons.com/")
            ]
        ),
        
        
        
        
        (
            matches: [ "outlook" ],
            queries: [
            (name: "outlook", query: "outlook.live.com/mail/0/"),
            (name: "teams", query: "teams.live.com")
            
            ]
        ),
        
        
        
        
        (
            matches: [ "google" ],
            queries: [
            (name: "Gmail", query: "mail.google.com/mail/u/0/#inbox"),
            (name: "Youtube-R", query: "youtube.com/results?search_query="),
            (name: "youtube", query: "youtube.com"),
            (name: "Maps-R", query: "google.com/maps?q="),
            (name: "Img-R", query: "google.com/images?q="),
            (name: "Google-R", query: "google.com/search?q="),
            
            
            ]
        ),
        
    ]
)

